#feed {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#feed .photo {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 65px;
}

.photo .photo__header {
  padding: 15px;
  display: flex;
  align-items: center;
}
